.sheduling-header {
    background: #ffffff !important;
    padding: 0 !important;
    height: 78px !important;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
    &__page-header {
        width: 100%;
        margin: 0;
    }
}